.statistics {
  display: inline-block;
  margin-top: 40px;
  padding-top: 20px;

  width: 300px;

  background-color: var(--bgColor);

  cursor: pointer;

  box-shadow: var(--boxShadow);
  border-radius: 6px;

  transition: transform 300ms var(--timingFn);
}

.statistics:hover,
.statistics:focus {
  transform: scale(1.1);
}

.title {
  font-family: 'Georgia', sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0.2em;

  text-align: center;
  color: var(--primaryTextColor);
}

.list {
  display: flex;
  margin-top: 20px;
  margin: 0;
  padding: 0;

  list-style: none;
}

.item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 60px;

  color: var(--secondaryTextColor);
}
